@font-face {
    font-family: M Plus Rounded;
    src: url(../fonts/m-plus-rounded-1c-japanese-800-normal.woff2);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #DEDEE1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #212426;

    h1, h2 {
        font-family: M Plus Rounded;
    }

    a {
        color: cornflowerblue;
    }

    #topNav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        background-color: rgba($color: #212426, $alpha: 0.2);
        backdrop-filter: blur(1rem);

        display: flex;
        justify-content: center;
        align-items: center;
        border: none;

        .options {
            opacity: 1;
            color: #DEDEE1;
            margin: 1rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    #fakeNav {
        top: 0;
        width: 100%;
        height: 3rem;
        margin-bottom: 3rem;
    }

    #main {
        display: flex;
        justify-content: center;

        #profile {
            display: flex;

            #profileLeft {
                width: 30rem;
                margin: 1rem;

                #nickname {
                    margin-bottom: 1rem;
                }

                #simpleIntro {
                    margin-bottom: 1rem;
                }

                #socialList {
                    margin-bottom: 1rem;
                    background-color: rgba($color: #fff, $alpha: 0.1);
                    padding: 0.25rem;
                    border-radius: 1rem;

                    .socialIcon {
                        margin-right: 0.25rem;
                    }
                }
            }

            #profileRight {
                margin: 1rem;

                .avatar {
                    width: 10rem;
                    border-radius: 50%;
                }
            }

            margin-bottom: 3rem;
        }

        #project {
            width: 42rem;

            #projectH2 {
                margin-bottom: 1rem;
            }

            #memory {
                .memoryText {
                    color: #BCC1C5;
                    margin-bottom: 1rem;
                }
            }

            margin: 1rem;
            margin-bottom: 3rem;
        }

        #friends {
            width: 42rem;

            #friendsH2 {
                margin-bottom: 1rem;
            }

            #friendsList {
                width: 42rem;
                overflow: hidden;
                position: relative;
                display: flex;
                justify-content: left;

                .friendCard {
                    margin-right: 1rem;
                    border-radius: 1rem;
                    width: 20rem;
                    height: 9rem;
                    background-size: cover;
                    padding: 0.5rem;
                    display: flex;
                    align-items: flex-end;
                    
                    h3 {
                        color: #383A3C;
                    }
                }
            }

            margin: 1rem;
            margin-bottom: 3rem;
        }
    }
}